<!DOCTYPE html>
<html lang="en">
<head>
    
    <%-include('./partials/head.ejs') -%>

</head>
<body>

    <header> 
        <%-include('./partials/header.ejs') -%>
    
    </header>
    
    <main> 

        <h2>   Catalogue  </h2>

        <ul> 
        <%Books.forEach(element => { %>
            <li class="catalogue-li"> 
                <section class="book-info-section"> 
                    <p class="li-elements"> <span> Author: </span><%=element.author%> </p>
                    
                    <p class="li-elements"><span> Title: </span> <%=element.title%> </p>
                    </a> 
                     
                    <a href="/app/catalogue/<%=element._id%>"> See book</a>
                    
                
                </li> 

        <%})%> 
        </ul>
    </main>

    <a href="/app/home"> Return to home page </a>
</body>
</html>