<!DOCTYPE html>
<html lang="en">
<head>
    
    <%-include('./partials/head.ejs') -%>

</head>
<body>

    <header> 
        <%-include('./partials/header.ejs') -%>
    
    </header>
    
    <main> 

        <h2>   Catalogue  </h2>

        <ul> 
        <%Books.forEach(element => { %>
            <li class="catalogue-li"> 
                <section class="book-info-section"> 

                    <div class="li-elements-wrapper" id="li-elements-author"> 
                        <span class="catalogue-field"> Author: </span> <%=element.author%> 
                    </div>
                    
                    <div class="li-elements-wrapper" id="li-elements-title"> 
                        <div class="li-elements">
                            <span class="catalogue-field"> Title: </span> 
                            <a href="/app/catalogue/<%=element._id%>">              
                                <%=element.title%> 
                            </a> 
                        <div> 
                    </div>
                     
                     
                    
                
                </li> 

        <%})%> 
        </ul>
    </main>

    <a href="/app/home"> Return to home page </a>
</body>
</html>