<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs') -%>
</head>
<body>

    <header> 

        <%-include('./partials/header.ejs') -%>
    </header> 


    <nav class="subnav">
        <ul>
            <li class="subnav-li"> 
                <a href="/app/<%=book._id%>"> Edit Notes </a> 
            </li>
            <li class="subnav-li">
                <a href="/app/catalogue"> Catalogue</a>
            </li> 
        
        </ul>
    
        <div class="delete-book-div-desktop" > 
            <form action="/app/<%=book._id %>?_method=DELETE" method="POST"> 
    
                <input class="delete-book" type="submit" value="Delete Book"/ > 
            </form>
        </div>

    </nav>

    <main> 
    
        <ul> 
            <li> <span class="field"> Author: </span> <%=book.author%> </li>
            <li> <span class="field"> Title: </span>  <%=book.title%> </li>
             
        
        </ul>

        <div class="edit-notes-area"> 

            <form  action="/app/<%=bookID%>?_method=PUT" method="POST">

                <label for="notes"> Edit Notes: </label>

                <textarea type="text" name="notes" id="notes" rows="10"> <%=book.notes%></textarea>
    
                <input type="submit" value="Submit" class="form-btn"> 
    
    
            </form>

        </div>
     

         

    </main>
</body>
</html>