<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs') -%>
</head>
<body>

    <header> 

        <%-include('./partials/header.ejs') -%>
    </header>
    
    <h1> Editing "<%=book.title%>"</h1>
    <h2> ID: <%=bookID%> </h2>

    <form  action="/app/<%=bookID%>?_method=PUT" method="POST">

        <label for="notes"> Notes </label>
        <input type="text" name="notes" id="notes"/> 

        <input type="submit" value="Submit"> 



    </form>
</body>
</html>