<!DOCTYPE html>
<html lang="en">
<head>
    
    <%-include('./partials/head.ejs') -%>

</head>
<body>

    <header> 
        <%-include('./partials/header.ejs') -%>
    
    </header>

    <h2>   Catalogue  </h2>
    
    <main> 

        <ul> 
        <%Books.forEach(element => { %>
            <li> 
                <section class="book-info-section"> 
                    <p class="li-elements"> <span> Author: </span><%=element.author%> </p>
                    
                    <p class="li-elements"><span> Title: </span> <%=element.title%> </p>
                    </a> 
                    <p class="li-elements"> <span> Notes: </span> <%=element.notes%> </p>
                    <p class="li-elements"> <span> Book ID: </span> <%=element._id%> </p>
                    <a href="/catalogue/<%=element._id%>"> See book</a>
                
            <li> 

        <%})%> 
        </ul>
    </main>

    <a href="/home"> Return to home page </a>
</body>
</html>