<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs') -%>
</head>
<body>
    
    <header> 
        <%-include('./partials/header.ejs') -%>
    </header>

    <nav class="subnav">
        <ul>
            <li class="subnav-li"> 
                <a href="/app/<%=book._id%>"> Edit Notes </a> 
            </li>
            <li class="subnav-li">
                <a href="/app/catalogue"> Catalogue</a>
            </li> 
        
        </ul>
    
        <div class="delete-book-div-desktop" > 
            <form action="/app/<%=book._id %>?_method=DELETE" method="POST"> 
    
                <input class="delete-book" type="submit" value="Delete Book"/ > 
            </form>
        </div>

    </nav>

    <main> 
        <ul> 
            <li> <span class="field"> Author: </span> <%=book.author%> </li>
            <li> <span class="field"> Title: </span>  <%=book.title%> </li>
            <li> <span class="field"> Notes: </span> <%=book.notes%> </li>
        
        </ul>

    
    
    

    </main>



    
    
</body>
</html>