<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
     
        <span class="field-text"> Title: </span> <%=book.title%> <br> 
        <span class="field-text"> Sub-Title: </span><%=book.subtitle%> <br> 
        <span class="field-text"> Author: </span><%=book.author%> <br> 
        <span class="field-text"> ISBN Number: </span><%=book.ISBN%> <br> 
        <span class="field-text"> Remarks: </span><%=book.remarks%> 
    
        <%const indexNo=books.indexOf(book)%>
        
        <form action="/index/<%= indexNo %>?_method=DELETE" method="POST"> 

            <input type="submit" value="DELETE"/ > 
        </form>
</body>
</html>