<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs') -%>
</head>
<body>
    
    <header> 
        <%-include('./partials/header.ejs') -%>
    </header>
    <ul> 
        <li> <%=book.author%> </li>
        <li> <%=book.title%> </li>
        <li> <%=book.notes%> </li>
        <li class="bookidval"> <%=book._id%></li>
    </ul>

    
    
    <ul>
        <li> 
            <a href="/app/<%=book._id%>"> Edit book notes </a> 
        </li>
        <li>
            <a href="/app/catalogue"> Return to user catalogue</a>
        </li> 
    
    </ul>

    <div class="delete-btn"> 
        <form action="/app/<%=book._id %>?_method=DELETE" method="POST"> 

            <input type="submit" value="DELETE"/ > 
        </form>
    </div>



    
    
</body>
</html>